@import "header";
@import "about";
@import "exp";

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

*{
    font-family: roboto;
    padding: 0;
    margin: 0;
}

 